# AWS (Learner Lab - credenciales rotativas)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=us-east-1

# S3
S3_BUCKET_NAME=nombre-de-tu-bucket
S3_DATA_KEY=landing/datos.parquet
S3_MODEL_PREFIX=models/
